body { background-color: #fff; color: #888; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #8FA880; text-decoration: none; }
a:visited { color: #8FA880; text-decoration: none;}
a:hover { color: #8FA880; background-color:#000; text-decoration: none;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  /*
  padding: 2px;
  background-color: #ff7373 ;
  display: table;
  */
  color: #ff7373;
  text-decoration: underline;
  font-weight: bold;
}

#error_explanation {
  width: 450px;
  border: 2px solid #ff7373;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #eee;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #ff7373;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.alert {
  color: #ff7373;
}

table.list {
  border: 1px #E3E3E3 solid;
  border-collapse: collapse;
  border-spacing: 0;
}

table.list th {
  padding: 5px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  background: #F5F5F5;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
}
table.list td {
  padding: 5px;
  border: 1px #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  text-align: left;
}
